<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<title>RestauranteEasy :: Pedidos</title>
</head>
<body>
	<div class="container-fluid" id="restauranteApp">
		<div class="row">
			<div class="col-sm-12">
				<div class="dropdown">
					<button class="btn btn-default btn-lg dropdown-toggle"
						id="opcoesGarcom" aria-haspopup="true" aria-expanded="true"
						type="button" data-toggle="dropdown">
						<span class="glyphicon glyphicon-menu-hamburger"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="opcoesGarcom">
						<li class="dropdown-header">{{mesas[mesaCorrente].nome}}</li>
						<li><a href="#">Fornecer senha <span
								class="glyphicon glyphicon-qrcode"></span></a></li>
						<li><a href="#">Fechar conta</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Abrir mesa</a></li>
						<li role="separator" class="divider"></li>
						<li v-for="mesa in mesas"><a href="#"
							:onclick="'restauranteApp.mesaCorrente = \'' + mesa.codigo + '\''"
							v-if="mesa.nome != mesas[mesaCorrente].nome">{{mesa.nome}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>{{mesas[mesaCorrente].nome}}</h2>
						<button class="btn btn-default btn-lg direita">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
					<div class="panel-body">
						<table class="table">
							<thead style="display: none">
								<tr>
									<th>Produto</th>
									<th>Qtde</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="pedido in mesas[mesaCorrente].pedidos"
									v-if="pedido.status != 'entregue'">
									<td>{{pedido.descricao}}</td>
									<td>{{pedido.qtde}}</td>
									<td width="5%"><span v-if="pedido.status == 'aguardando'"
										class="glyphicon glyphicon-time alert-warning"></span> <span
										v-if="pedido.status == 'recebido'"
										class="glyphicon glyphicon-check alert-success"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/main.js"></script>
</body>
</html>